html body {
    margin: 5;
    padding: 5;
    background-image: url("https://images.unsplash.com/photo-1521133573892-e44906baee46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3068&q=80");
    background-position: sticky;
      text-align: center;
      font-family: unica one;
  }

  #grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto)  }
  
  h1 {
    font-size: 100px;
  }
  
  img {
    border-radius: 20px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: sticky;
    padding: 5px; 
    width: 700px;
    height: 500px; 
    border: solid darkgray;
  }

  nav {
      background-color: black;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: lightpink;
  }

#products {
    font-size: 20px;
}

img {
    border-radius: 20px;
    background: url(paper.gif);
    padding: 5px; 
    width: 700px;
    height: 500px; 
    border: solid darkgray;
    margin-top: 15px;
    Margin-right: 15px;
  }

  #services, td, th {
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    align-content: center;
  }

 ul {
     list-style: none;
 }


 /*mobile*/

 @media only screen and (max-width: 750px){
    #grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto)
  }

  .header {
    grid-column: 1/2;
    grid-row: 1/2; 
  }
  .loofa {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #products{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #services{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  footer{
    grid-row: 7/7;
  }
}


/*Tablet*/

@media only screen and (min-width: 768px){
    #grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 200px)
  }
  Img {
    grid-column: 1/-1;
    grid-row: 1/2; 
  }
  #box1 {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  #products{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #services{
    grid-column: 3/4;
    grid-row: 3/4;
  }
.pictures{
    grid-column: 2/4;
    grid-row; 6/6;
}
  footer{
    grid-row: 7/7;
  }

#serviceimg {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
}

/*Laptop*/

  @media only screen and (min-width: 960px){
        #grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 200px)
      }


      .header {
        grid-column: 1/-1;
        grid-row: 1/2; 
      }
      .loofa {
        grid-column: 1/3;
        grid-row: 2/3;
      }
      #products{
        grid-column: 3/5;
        grid-row: 2/3;
      }
      #services{
        grid-column: 2/4;
        grid-row: 3/4;
      }
    .pictures{
        grid-column: 2/4;
        grid-row; 6/6;
    }
      footer{
        grid-row: 7/7;
      }
    }
