.header{text-align: center;}

h1 {color: darkgreen;
font-style: georgia;
text-align: center;
}

h3 {font-style: georgia;
    text-align: center
}

#uppercase {text-transform: uppercase;
}

.parent > span {
    text-transform: uppercase;
}

a {text-decoration:none;}
a:hover{
    text-decoration:underline;
}

img {float: left;
    padding-right: 50px;
}