body {
    background-color: lightpink;
  }
  
  .nav {position: fixed;
    margin: 15px;
    background-color: lightgray
}


img {float: left;
    margin: 20px;
}

#blog1 {border: solid lightslategray;
    margin: 15px;
}

#blog2 {border: solid lightslategray;
    margin: 15px;
}

#blog3 {border: solid lightslategray;
    margin: 15px;
}