.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(6, auto);
}

html {
    background-color: gray;
}

ul {
    background-color:  black;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

ul li {
    float: left;
}

ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul a:hover {
    background-color: pink;
}

header {
    grid-column: 1/3;
    grid-row: 2/3;
}

image {
    grid-column: 1/3;
    grid-row: 3/4;
}

body {
    grid-column: 1/3;
    grid-row: 4/5;
}