.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;

}

.grid-item-a{
    background-color: #F5C6D6;
    grid-column: 1/5;
   
}
.grid-item-b{
    background-color: #EE2E84;
    grid-column: 1/2;
}
.grid-item-c{
    background-color: #EE2E84;
    grid-column: 2/3;
    
}
.grid-item-d{
    background-color: #EE2E84;
    grid-column: 3/4;
    
}
.grid-item-e{
    background-color: #EE2E84;
    grid-column: 4/5;
    
}
.grid-item-f{
    background-color: #85CFD8;
    grid-column: 1/3
}

.grid-item-g{
    background-color: #85CFD8;
    grid-column: 3/5
}
.grid-item-h{
    background-color: #8DC63F;
    grid-column: 1/4
}
.grid-item-i{
    background-color: #E76E34;
    grid-column: 4/5;
}

@media (max-width: 768px){
    .grid{
    grid-column: auto;
    grid-row: auto;
    }

    .grid-item-a{
        grid-column: 1/5;
    }
    .grid-item-b{
        grid-column: 1/5;
    }
    .grid-item-c{
        grid-column: 1/5;
    }
    .grid-item-d{
        grid-column: 1/5;        
    }
    .grid-item-e{
        grid-column: 1/5;  
    }
    .grid-item-f{
        grid-column: 1/5;
    }
    .grid-item-g{
        grid-column: 1/5;
    }
    .grid-item-h{
        grid-column: 1/5;
    }
    .grid-item-i{
        grid-column: 1/5;
    }
}